@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   

    <!-- Add the image tag with the source (src) attribute pointing to your image file -->
    <img src="https://i.pinimg.com/564x/7b/b4/7c/7bb47ccecae1b8c5cb1ca56ab4d4681f.jpg" />
</div>
