@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background: linear-gradient(to right, #ffffff, #ffd6e7); /* White to Baby Pink gradient background */
        font-family: 'Arial', sans-serif;
    }

    form {
        margin-top: 20px;
        background-color: #fff; /* White background for the form */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333; /* Dark text color */
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff; /* White background for the table */
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 15px;
            text-align: center;
        }

    /* Style checkboxes */
    input[type="checkbox"] {
        margin-top: 5px;
    }

</style>

<h1>This is Index accessible by all Employees</h1>
<hr />
<div><span class="btn btn-outline-info "><a href="AccessClaims/Hrpage">HR</a></span></div>
<div><span class="btn btn-outline-success "><a href="AccessClaims/Managerpage">MANAGER</a></span></div>
<div><span class="btn btn-outline-secondary "><a href="AccessClaims/AssignClaims">ASSIGN CLAIMS</a></span></div>
<div><span class="btn btn-outline-warning "><a href="AccessClaims/Anonymous">ANONYMOUS</a></span></div>